<!DOCTYPE html>
<html lang="fr">
  <head>
    {{ partial "head" . }}
    {{ block "custom_head" . }}
    {{ end }}
  </head>

  <body class="bg-gray-1">
    {{ partialCached "header" . }}
      <div class="container">
        <div class="row">
          <div class='col-lg-12 col-sm-12'>
            <h1 class='red-header new-header'>Nos derniers articles </h1>
          </div>
        </div>

        {{ $paginator := .Paginate (sort .Pages "Lastmod" "desc") 8 }}

        <div class="row no-gutters">
          <div class="col-md-7 col-sm-12 article-card">
          {{ range first 1 $paginator.Pages }}
            {{ partial "components/article-card" (dict "resources" .Resources "article" . ) }}
          {{ end }}
          </div>
          <div class="col-md-5 col-sm-12">
          {{ range first 7 (after 1 $paginator.Pages) }}
            {{ partial "components/article-mini-card" (dict "resources" .Resources "article" . ) }}
          {{ end }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 justify-content-center">
            {{ partial "pagination.html" . }}
          </div>
        </div>

        <div class="row mt-4">
          <div class='col-md-12'>
            <h1 class='red-header new-header'>Explorer le meilleur de nos articles</h1>
              {{ $index := 1 }}
              <div class="row mt-2">
                <div class="col-md-12 col-sm-12 card-deck">
                {{ range $taxonomy_name, $taxonomy := .Site.Taxonomies }}
                  {{ with $.Site.GetPage (printf "/%s" $taxonomy_name) }}
                    {{ $index = (add 1 $index) }}
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-5 hcard-img"><i class="fa fa-{{ .Params.icon }}"></i></div>
                        <div class="col-md-6">
                      <h2 class=""><a href="{{ .Permalink }}">{{ $taxonomy_name }}</a></h2>
                      <p class="">{{ .Params.description }}</p>
                        </div>
                       </div>
                    </div>
                  </div>
                  {{ end }}
                  {{ if eq ( mod $index 2 ) 1 }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 col-sm-12 card-deck">
                  {{ end }}
                {{ end }}
                </div>
              </div>
          </div>
        </div>

              {{/*
                {{ range first 3 (after 8 (sort $.Pages "Lastmod" "desc")) }}
                  {{ partial "components/article-mini-card" (dict "resources" .Resources "article" . ) }}
                {{ end }}
              */}}

        {{/* $pages := slice }}

            {{ range $key, $value := (index .Site.Taxonomies "outils")}}
              {{ range $value.Pages }}
                {{ $pages = $pages | append . }}
              {{ end }}
            {{ end }}
            {{ range first 1 (sort $pages "Lastmod" "desc")}}
              {{ partial "components/article-mini-card" (dict "resources" .Resources "article" . ) }}
            {{ end */}}

      </div>
    {{ partialCached "footer" . }}
  </body>
</html>
