{{ define "custom_head" }}
  {{ partial "components/articles/social-metadata" . }}
{{end}}
{{ define "main" }}

  {{ with .Params.style}}
    <style>
      {{ . | safeCSS }}
    </style>
  {{ end }}

  {{ partial "components/articles/semantic-web" . }}

  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-sm-12">
      <h1>
        {{ partial "components/pages/title" . }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-sm-12">
      <small>
        <div class="float-sm-right">
          {{ partial "components/pages/tags" . }}
        </div>
        <div>
          <i class='fa fa-calendar'></i> {{ .Lastmod | dateFormat $.Site.Params.date_format.default }}
          &nbsp;—&nbsp;
          <i class='fa fa-clock-o'></i> {{ i18n "reading_time" .ReadingTime }}
        </div>
      </small>
    </div>
  </div>

  <div class="row mt-1">
    <div class="offset-lg-2 col-lg-8 col-sm-12">
      {{ partial "components/pages/illustration" . }}
    </div>
  </div>

  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-sm-12 article">
      {{ .Content }}
    </div>
  </div>

  {{ partial "related" . }}

  {{ partial "components/authors" . }}

{{ end }}
