
<meta name="twitter:title" content="{{ .Title }}">
<meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ partial "components/articles/description" . }}">
<meta property="og:description" content="{{ partial "components/articles/description" . }}" />
<meta property="og:url" content="{{.Permalink}}" />

{{ if isset .Params "illustration"}}
  {{ $original := .Resources.GetMatch .Params.illustration.name }}
  {{ $image := $original.Resize "750x" }}
  <meta name="twitter:card" content="summary_large_image">
  {{ $image_url := $image.RelPermalink | absURL }}
  <meta name="twitter:image" content="{{- $image_url -}}">
  <meta name="og:image" content="{{- $image_url -}}">
  {{/*
  */}}
{{ end }}
