{{ if .Params.resources }}
  <h2>Ressources</h2>
  <ul>
    {{ range .Params.resources }}
      <li>
        <a href="{{ .url }}">
          <i class="fa fa-download"></i> {{ .name }}
          {{ with .icon}}<img class="float-sm-right" src='{{ .Site.BaseURL }}assets/images/{{ . }}' height="30">{{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
