<div class="row mini-card">
  <div class="col-4">
  {{ if isset .article.Params "illustration"}}
    {{ $original := .resources.GetMatch .article.Params.illustration.name }}
    {{ $image := $original.Fill "150x100 Center" }}
    <img alt="{{ .article.Params.illustration.description }}"
         src="{{ $image.RelPermalink }}"
         class="img-fluid"/>
  {{ end }}
  </div>
  <div class="col-8 mini-card-body">
      <h3>
        <a href="{{ .article.RelPermalink }}">{{ .article.Title | markdownify }}</a>
      </h3>
      <ul class="article-card-info text-muted">
        <li class="info-date">{{ .article.Lastmod | dateFormat $.article.Site.Params.date_format.default }}</li>
        {{ range .article.Params.authors }}
          {{ $author := ($.article.Site.GetPage ( printf "%s/%s/%s" "team" . "index.md")).Params }}
          <li class="info-author"><!--a href="/authors/{{. | urlize}}"-->{{ $author.name }}<!--/a--></li>
        {{ end }}
      </ul>
  </div>
</div>

