{{ $original := .resources.GetMatch .image.name }}
{{ $image := $original.Resize "750x" }}
<div style=" overflow: hidden; ">
  <figure>
    <img alt="{{ .image.description }}"
      src="{{ $image.RelPermalink }}"
      class="{{ .class | default "img-fluid" }}"/>
    <figcaption>
      {{ with .image.source }}
        <span class="img-credit float-sm-right">
          <a href="{{ . }}">Source</a>
        </span>
      {{ end }}
      {{ with .image.legend }}
        <span>
          <small>{{ . }}</small>
        </span>
      {{ end }}
    </figcaption>
  </figure>
</div>
