{{ range .items }}
  <div class='partner-logo {{ default "short-logo" .logoclass }}'>
    {{ with .link }}<a href='{{ . }}'>{{end}}
      <img src="{{ site.BaseURL }}{{ .logo }}" alt="Logo {{ .name }}">
      <div class="text-sm-center">{{ .name }}</div>
    {{ with .link }}</a>{{end}}
  </div>
{{ end }}
