<div class="row">
  <div class="col-md-2 col-sm-6 text-sm-center">
    {{ $image := dict "name" (.Get "name") "description" (.Get "description") "source" (.Get "source") "legend" (.Get "legend")}}
    {{ partial "components/image" (dict "image" $image "class" (.Get "class") "resources" $.Page.Resources ) }}
  </div>
  <div class="col-md-10 col-sm-6">
    {{ .Inner }}
  </div>
</div>
