<div class="row">
  <div class="offset-md-2 col-md-8 offset-sm-1 col-sm-10 text-sm-center">
    {{ $image := dict "name" (.Get "name") "description" (.Get "description") "source" (.Get "source") "legend" (.Get "legend")}}
    {{ partial "components/image" (dict "image" $image "class" (.Get "class") "resources" $.Page.Resources ) }}
  </div>
</div>
