{{ define "main" }}
  <!-- themes/template-azae/layouts/_default/list.html -->
  <div class='row mt-3'>
    <div class='col-lg-12 text-sm-center'>
      <h1> {{ partial "components/pages/title" . }} </h1>
    </div>

  {{ range sort .Pages "Lastmod" "desc" }}
    <div class="col-sm-12">
      <h2> <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a> </h2>
      {{ .Params.description | markdownify }}
    </div>
  {{ end }}
  </div>
{{ end }}
