{{ define "main" }}
<div class="row mt-3">
  <div class="col-sm-12 text-sm-center">
    <h1>
      {{ partial "components/pages/title" . }}
    </h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    {{ .Content }}
  </div>
</div>
{{ end }}
