<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-2">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="col-10">
            {{ range .Site.Data.contact.address_lines }}
              {{ . }} <br/>
            {{ end -}}
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <i class="fa fa-phone"></i>
          </div>
          <div class="col-10">
            {{ .Site.Data.contact.phone }}
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="col-10">
            <a id="email_footer">
              <span id="email_footer_inner" class="col-10"></span>
            </a>
          </div>
          {{ partial "components/email_link" (dict "email" .Site.Data.contact.email "id" "email_footer" ) }}
          {{ partial "components/email_display" (dict "email" .Site.Data.contact.email "id" "email_footer_inner" ) }}

        </div>
      </div>
      <div class="col-lg-6">
        <h1>{{ .Site.Data.values.baseline }}</h1>
        Azaé est une SARL au capital de 600€ enregistrée au registre du commerce et des sociétés de Lille Métropole sous le numéro :
        531&nbsp;735&nbsp;108.
        <div class="text-sm-center">
          {{ range .Site.Data.contact.social }}
          <a href='{{.url}}' aria-label="Azaé sur {{.name}}"><i class="fa fa-fw {{.icon}}"></i></a>
          {{ end -}}
        </div>
      </div>
    </div>
    <div class="row flex-row justify-content-center mt-3 mb-3">
      <span class="hr-fill"></span>
      <img class="hr-logo" src="{{ .Site.BaseURL }}assets/images/logo-azae.svg" alt="Logo Azaé">
      <span class="hr-fill"></span></span>
    </div>
    <div class="row">
      <ul class="nav nav-pills flex-column flex-sm-row">
        {{ range .Site.Menus.footer }}
        <li class="nav-item flex-sm-fill nav-link"><h1>{{ .Name }}</h1>
            {{ if .HasChildren }}
            <ul class="nav flex-column">
              {{ range .Children }}
              <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          <small>
            {{ .Site.Copyright | safeHTML }}. Site généré le {{ now | dateFormat "2 Jan 2006 à 15:04" }}.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
