{{ define "main" }}
<div class='row mt-3'>
  <div class='col-lg-12 text-center'>
    <h1>
      Nos formations
    </h1>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <h2>Sur catalogue</h2>
  </div>
</div>

<div class="card-deck">
  {{ range $index, $page := .Pages }}
  <div class="card training-card">
    <div class="card-body">
      {{ if not $page.Params.nodetail }}
      <a href="{{ $page.RelPermalink }}">
        {{ end }}
        <h3 class="card-title">{{ $page.Title | markdownify }}</h3>
        {{ if not $page.Params.nodetail }}
      </a>
      {{ end }}
      <p class="card-text">{{ $page.Params.description | markdownify }}</p>
    </div>
    <div class="card-footer bg-transparent">
      {{ if not $page.Params.nodetail }}
      <a href="{{ $page.RelPermalink }}" class="btn btn-outline-danger">Détails</a>
      {{ end }}
      {{$emailId := print "email-" $index }}
      <a id='{{ $emailId }}' class="btn btn-outline-primary">Contactez-nous</a>
      {{ partial "components/email_link" (dict "email" .Site.Data.contact.email "id" $emailId ) }}
    </div>
  </div>
  {{ if eq ( mod $index 3 ) 2 }}
</div>
<div class="card-deck mt-4">
  {{ end }}
  {{ end }}
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h5>Statistics sur la période 09/2021-08/2022</h5>
        <ul>
          <li>8 personnes formées à l’agilité</li>
          <li>100% des participants recommanderait la formation</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <h2>Formations sur mesure</h2>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <p>Pour vos actions de formations en lien avec nos domaines d'expertise : culture du développement, organisations
      apprenantes, intelligence collective, n'hésitez pas à nous contacter.</p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-3">
    <img src="{{ .Site.BaseURL }}assets/images/datadocke.jpg" class="img-fluid" alt="Datadocké !">
  </div>
  <div class="col-md-9 mt-3">
    <p>Nous sommes datadocké, c'est à dire que toutes nos formations sont éligible à une prise en charge par <a
        href="https://www.data-dock.fr/?q=node/155">les membres du GIE DataDock</a>.
    <p>Notre activité de formation est quand à elle enregistrée sous le numéro 31&nbsp;59&nbsp;08320&nbsp;59 auprès du
      préfet de région de Nord-Pas de Calais.</p>
  </div>
</div>


{{ end }}