{{ define "main" }}
<div class="row mt-4">
  <div class="col-lg-12">
    <div class="jumbotron">

      <h1>Error 404 !</h1>
      Page non trouvé, la page que vous cherchez n'existe pas ou à été déplacée.
    </div>
  </div>
</div>
{{ end }}
