{{ define "main" }}
  {{ $pages := (where .Pages "Params.hidden" "!=" "true") }}
  <div class='row mt-3'>
    <div class='offset-lg-2 col-lg-8 col-sm-12 text-sm-center'>
      <h1>
        {{ partial "components/pages/title" . }}
        <span class="badge badge-pill badge-primary">{{ len $pages }}</span>
      </h1>
    </div>
  </div>

  <div class='row mt-3'>
    <div class='offset-lg-2 col-lg-8 col-sm-12'>
      {{ range sort $pages "Lastmod" "desc" }}
        {{ partial "components/pages/short-ref" . }}
      {{ end }}
    </div>
  </div>
{{ end }}
